[Application]
name=Excel
version=1.0
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=app.main:start
icon=logo.ico
publisher=Dick Soft Inc

[Python]
version=3.6.3


[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
packages=app
pypi_wheels = openpyxl==3.1.1
