[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
pynsist = "*"
python-docx = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
